.svg-container {
  margin-top: 20%;
}
.image-about {
  margin-left: -40%;
  margin-top: -70%;
  border-radius: 10%;
  height: 420px;
}
.u-svg-content-about {
  width: 120%;
  height: 110%;
  margin-left: -18%;
  margin-top: -40%;
}
.dot-about {
  height: 50%;
  width: 50%;
  max-height: 200px;
  max-width: 200px;
  background-color: #bedde5;
  border-radius: 50%;
  position: absolute;
  margin-left: -60%;
  margin-top: 5%;
}
.dot-about2 {
  height: 50%;
  width: 50%;
  max-height: 150px;
  max-width: 150px;
  background-color: #84bdcb;
  border-radius: 50%;
  position: absolute;
  margin-left: -70%;
  margin-top: 10%;
}
.dot-about3 {
  height: 50%;
  width: 50%;
  max-height: 120px;
  max-width: 120px;
  background-color: #6da7b6;
  border-radius: 50%;
  position: absolute;
  margin-left: -45%;
  margin-top: 23%;
}
.about-text {
  margin-top: 10%;
  margin-left: 5%;
}
.about-text p {
  width: 66%;
  margin-top: 3%;
}
.about-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #6dadbf;
}
.about-text h3 {
  color: #6dadbf;
  margin-top: 3%;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
