.button {
  background-color: #6dadbf;
  left: 10%;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button {
    padding: 16px 48px;
  }
}
.btn-seeMore {
  font-size: 14px;
  left: 2%;
  margin-top: 7%;
}

.btn-seeMore:before {
  left: 2%;
  width: 96%;
}
@media (max-width: 767px) {
  .button {
    top: 408px;
    left: 100px;
  }
  .btn-seeMore {
    top: 2px;
    left: 5px;
  }
}
.close-button {
  background-color: rgb(128, 126, 126);
  margin-top: 2%;
  margin-left: -14%;
}
.btn-share {
  margin-top: 4%;
  background-color: white;
  color: #6dadbf;
  margin-left: 60%;
}
